*{
  margin: 0;
  padding: 0;
}
/* #root{
  margin: 15px;
} */

/* .App {
  
  text-align: center;
} */
.post-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.post{
  width: 200px; 
  height: 250px; 
  border: black solid 1px;
  border-radius: 5px;
  /* flex-grow: 1; */
}
.up-count{
  margin-left: 7px;
}
.down-count{
  text-align: left;
  padding-left:31px;
}
.post-footer{
  display: flex;
  margin-top: 10px;
  padding-left: 7px;
}
.icons{
  display: flex;
}
.comment{
  height: 90px;
  width: 90px;
}
.navbar{
  display: flex;
  margin: 10px 0px;
  /* justify-content: space-between; */
}
.button{
  color: white;
  border-style: none;
  border-radius: 2px;
  margin: 0px 5px;
  padding: 0px 5px;
  cursor: pointer;
}